/* PROSHOP - RC. */

/*

============================== 
StyleSheet Table of Contents
==============================
- CSS Variables
- Global Styles
- Header
- Carousel 

*/

/*
=============== 
CSS Variables
===============
*/

:root {
  /* Background Theme*/
  --rc-background-light: hsl(0, 0%, 98%);
  --rc-blue: hsl(210, 100%, 56%);

  /* dark shades of primary color*/
  --clr-primary-1: hsl(0, 86%, 17%);
  --clr-primary-2: hsl(0, 77%, 27%);
  --clr-primary-3: hsl(0, 72%, 37%);
  --clr-primary-4: hsl(0, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(0, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(0, 90%, 70%);
  --clr-primary-7: hsl(0, 90%, 76%);
  --clr-primary-8: hsl(0, 86%, 81%);
  --clr-primary-9: hsl(0, 90%, 88%);
  --clr-primary-10: hsl(0, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 0%, 16%);
  --clr-grey-2: hsl(211, 0%, 23%);
  --clr-grey-3: hsl(209, 0%, 30%);
  --clr-grey-4: hsl(209, 0%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 0%, 49%);
  --clr-grey-6: hsl(209, 0%, 60%);
  --clr-grey-7: hsl(211, 0%, 70%);
  --clr-grey-8: hsl(210, 0%, 80%);
  --clr-grey-9: hsl(210, 0%, 91%);
  --clr-grey-10: hsl(0, 0%, 93%);
  --clr-white: #fff;
  --clr-white-transparent: rgba(255, 255, 255, 0.4);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-red-orange: hsl(0, 100%, 67%);
  --clr-green-dark: hsl(125, 59%, 36%);
  --clr-green-light: hsl(125, 45%, 59%);
  --clr-green-dark2: hsl(104, 20%, 49%);
  --clr-green-light2: hsl(75, 47%, 66%);
  --clr-black: #222;
  --clr-black-grey: #262626;
  /* purples used for borders/accent backgrounds */
  --clr-purple-dark: rgba(59, 55, 238, 1);
  --clr-purple-light: rgba(145, 46, 246, 1);
  --clr-purple-lightest: rgb(171, 95, 248);
  --transition: all 0.3s linear;
  --spacing: -0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

body {
  font-family: "Helvetica-Neue", Arial, sans-serif;
  font-weight: 400;
  text-transform: none !important;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem;
}

.rating span {
  margin: 0.1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .product-page-section {
    min-width: 350px;
  }

  .product-page-section:nth-child(3) {
    margin: 20px 0 0 50%;
  }
}

/*
=============== 
Header / Nav
===============
*/

.nav__container {
  color: var(--clr-black-grey);
  border-bottom: var(--clr-grey-7) solid 1px;
  padding-bottom: 1rem;
}
.nav__brand {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-decoration: none;
  /* color: red; */
}
.nav__brand:hover {
  text-decoration: none;
  color: var(--clr-grey-6);
}

.search__input {
  margin-left: 2rem;
  outline: var(--clr-grey-7) solid 1px;
}

.search__btn {
  background-color: var(--clr-grey-7);
}

/*
=============== 
Carousel
===============
*/

.carousel {
  border-top: var(--clr-primary-5) solid 30px;
  background-color: var(--clr-grey-9);
  margin-bottom: 2rem;
  background-image: url("images/detroit_BW.png");
  background-size: contain;
  background-size: cover;
  height: 450px;
}

.carousel__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
}
.carousel__content:hover {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .carousel__content {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }
  .carousel__content > h2 {
    margin: 0 auto;
    margin-top: 1rem;
    padding: 2rem;
    max-width: 200px;
    font-size: 1rem;
  }
  .carousel__image {
    padding: 0;
    margin: 0;
  }
}

.carousel img {
  max-height: 300px;
  padding: 30px;
  /* margin: 4.5rem 0 1rem 0; */
  border-radius: 3rem;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  /* display: flex; */
}

.carousel-caption {
  /* position: absolute;
  top: 0; */
}

@media screen and (max-width: 500px) {
  .carousel {
    height: 420px;
  }
}

/*
=============== 
Footer
===============
*/
footer {
  margin-top: 1rem;
  /* background: var(--clr-grey-3); */
  display: flex;
  justify-content: center;
}
.footer__container {
  width: 1100px;
  background-image: url("images/detroit_bottom.png");
  background-size: contain;
  background-size: cover;

  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 200px;
  padding: 1rem;
}
.footer__container > h4 {
  color: var(--clr-white);
}
